In [52]:
import numpy as np
import pandas as pd

In [53]:
mov=pd.read_csv('tmdb_5000_movies.csv')
cre=pd.read_csv('tmdb_5000_credits.csv')

In [54]:
mov.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [57]:
cre.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [58]:
mov=mov.merge(cre,on='title')

In [59]:
mov.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [60]:
#genre
#id
#keywords
# overview
#cast
#crew
mov=mov[['movie_id','title','overview','genres','keywords','cast','crew']]
mov.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [61]:
mov['genres'].value_counts()

genres
[{"id": 18, "name": "Drama"}]                                                                     372
[{"id": 35, "name": "Comedy"}]                                                                    282
[{"id": 18, "name": "Drama"}, {"id": 10749, "name": "Romance"}]                                   164
[{"id": 35, "name": "Comedy"}, {"id": 10749, "name": "Romance"}]                                  144
[{"id": 35, "name": "Comedy"}, {"id": 18, "name": "Drama"}]                                       142
                                                                                                 ...
[{"id": 35, "name": "Comedy"}, {"id": 27, "name": "Horror"}, {"id": 53, "name": "Thriller"}]        1
[{"id": 16, "name": "Animation"}, {"id": 35, "name": "Comedy"}, {"id": 18, "name": "Drama"}]        1
[{"id": 878, "name": "Science Fiction"}, {"id": 10751, "name": "Family"}]                           1
[{"id": 27, "name": "Horror"}, {"id": 18, "name": "Drama"}]                                         1
[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 37, "name": "Western"}]      1
Name: count, Length: 1175, dtype: int64

In [62]:
mov.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [63]:
mov.dropna(inplace=True)

In [64]:
mov.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [65]:
mov.duplicated().sum()

0       False
1       False
2       False
3       False
4       False
        ...
4804    False
4805    False
4806    False
4807    False
4808    False
Length: 4806, dtype: bool

In [66]:
mov.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [67]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# [Adventure,Action,Fantasy]

In [68]:
import json

def convert(obj):
    # Case 1: already a list of strings
    if isinstance(obj, list) and all(isinstance(i, str) for i in obj):
        return obj
    
    # Case 2: already a list of dicts
    if isinstance(obj, list) and all(isinstance(i, dict) for i in obj):
        return [i['name'] for i in obj]
    
    # Case 3: it's a string (JSON format)
    if isinstance(obj, str):
        try:
            data = json.loads(obj)
            return [i['name'] for i in data]
        except:
            return []
    
    return []  # fallback

In [69]:
mov['genres']=mov['genres'].apply(convert)

In [70]:
mov.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [71]:
import json

def key(obj):
    # Case 1: already a list of dicts
    if isinstance(obj, list) and all(isinstance(i, dict) for i in obj):
        return [i['name'] for i in obj]
    
    # Case 2: already a list of strings
    if isinstance(obj, list) and all(isinstance(i, str) for i in obj):
        return obj
    
    # Case 3: it's a JSON string
    if isinstance(obj, str):
        try:
            data = json.loads(obj)
            return [i['name'] for i in data]
        except:
            return []
    
    return []

In [72]:
mov['keywords']=mov['keywords'].apply(convert)

In [73]:
mov.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [74]:
import ast

def convert3(obj):
    L = []
    for i in ast.literal_eval(obj)[:3]:  # only take first 3
        L.append(i['name'])
    return L

In [75]:
mov['cast'] = mov['cast'].apply(convert3)
print(mov['cast'].head(3))

0    [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1       [Johnny Depp, Orlando Bloom, Keira Knightley]
2        [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]
Name: cast, dtype: object

In [76]:
print(mov['cast'].iloc[0])
print(type(mov['cast'].iloc[0]))

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']
<class 'list'>

In [77]:
import ast

def fetch_crew(obj):
    """
    Extract up to 3 cast names from a stringified list of dicts.
    Example input: '[{"cast_id":1,"name":"Actor1"}, {"cast_id":2,"name":"Actor2"}]'
    Output: ['Actor1', 'Actor2', 'Actor3']
    """
    try:
        # Parse the string safely into Python objects
        data = ast.literal_eval(obj)
    except (ValueError, SyntaxError):
        return []

    # Ensure it's a list of dicts and extract names
    if isinstance(data, list):
        return [i['name'] for i in data[:3] if isinstance(i, dict) and 'name' in i]

    return []

In [78]:
mov['crew']=mov['crew'].apply(fetch_crew)

In [79]:
mov['crew'].head(1)

0    [Stephen E. Rivkin, Rick Carter, Christopher B...
Name: crew, dtype: object

In [80]:
mov['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [28]:
mov.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."

In [29]:
mov['genres']=mov['genres'].apply(lambda x:[i.replace(" ","")for i in x])
mov['keywords']=mov['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
mov['cast']=mov['cast'].apply(lambda x:[i.replace(" ","")for i in x])
mov['crew']=mov['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [81]:
mov.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."

In [82]:
mov['tags'] = mov['overview'].fillna('') + " " + \
              mov['genres'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x)) + " " + \
              mov['keywords'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x)) + " " + \
              mov['cast'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x)) + " " + \
              mov['crew'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x))

In [84]:
mov.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B...","In the 22nd century, a paraplegic Marine is di..."

In [85]:
new_df=mov[['movie_id','title','tags']]

In [86]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [87]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Karti\AppData\Local\Temp\ipykernel_2428\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [88]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [89]:
 new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy science fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d sam worthington zoe saldana sigourney weaver stephen e. rivkin rick carter christopher boyes'

In [90]:
import nltk
print("NLTK version:", nltk.__version__)

NLTK version: 3.9.1

In [91]:
import nltk

In [92]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [93]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return  " ".join(y)

In [94]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Karti\AppData\Local\Temp\ipykernel_2428\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [110]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Assuming new_df['tags'] exists and contains the text features
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

similarity = cosine_similarity(vectors)

In [97]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [45]:
print(vectors[0])

[0 0 0 ... 0 0 0]

In [46]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [105]:
# from sklearn.metrics.pairwise import cosine_similarity
# import numpy as np

# vector = np.array([4806., 5000.]).reshape(1, -1)

# similarity = cosine_similarity(vector)
# print(similarity)

[[1.]]

In [106]:
similarity[0]

array([1.])

In [113]:
def recommend(mov):
    mov_indx=new_df[new_df['title']==mov].index[0]
    dis=similarity[mov_indx]
    mov_list=sorted(list(enumerate(dis)),reverse=True,key=lambda x:x[1])[1:6]

    for i in mov_list:
        print(new_df.iloc[i[0]].title)

In [116]:
recommend('Autumn in New York')

Raising Helen
Synecdoche, New York
Love in the Time of Cholera
Down to You
Agora

In [115]:
new_df.iloc[1216].title

'Autumn in New York'

In [111]:
print("new_df shape:", new_df.shape)
print("similarity shape:", similarity.shape)

new_df shape: (4806, 3)
similarity shape: (4806, 4806)

In [118]:
import pickle

# Save DataFrame (new_df) into a pickle file
pickle.dump(new_df, open('mov.pkl', 'wb'))

In [119]:
import pickle

# Save DataFrame (new_df) into a pickle file
pickle.dump(new_df.to_dict(), open('mov_dict.pkl', 'wb'))

In [120]:
import pickle


pickle.dump(similarity, open('similarity.pkl', 'wb'))